body {
    position: relative;
    width: 1600px;
    height: 2349px;
    background: #E5E5E5;
    margin: 0 auto;
}

.head {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid #ECECEC;
    background: white;
}

