body {
    position: relative;
    width: 1600px;
    height: 2349px;
    background: #E5E5E5;
    margin: 0 auto;
}

.head {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.head_block {
    margin: 0 215px;
    display: inline-flex;
    height: 80px;
}

.head_logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    height: 80px;
}

.head_block a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    height: 80px;
}

.head_block a span {
    color: black;
}

.nav {
    margin: 32px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

